
body{
    /* background: #151515;  */
    background: #030303;
}
h1,h2,h3,h4,h5,h6,p,a{
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    color: #aaa;    
}
a{
    text-decoration: none;
}
a:hover{
    color: rgb(146, 146, 146); 
}

header{
    width: 100%;   
    padding:  2rem 0 1rem; 
    position: fixed;
    z-index: 2; 
    background: #030303;    
}
header .title{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
} 
header .title h3{
    text-transform: uppercase;
    font-size: x-large;    
    font-weight: 600;
}
@media(max-width:800px){
    header .title h3{
        font-size: large !important;    
        text-align: end; 
    } 
    .title h3 a{
        font-weight: 600;
           
    }   
}


main{
    filter: saturate(0.5); height: 720px; overflow: hidden;
}



section{
    padding: 6rem 0 ;
    width: 95%;
    margin: auto;
}

section#stats{
    display: flex;    
    justify-content: space-between;
    padding: 0 0 5rem  ;
}
#stats div{
    padding: 0 1rem ;
    width: 100%;
}
#stats span{    
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid #aaa;    
}
#stats span h2,
#stats span h5{
    line-height: 2 !important;
    margin: 26.56px 0 !important;
    font-size: revert;
}

#stats .involvement span{
    justify-content: end;
}

@media(max-width:1000px){
    section#stats{
        display: block;
    }
}


footer{
    width: 95%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    padding: 10rem 0 5rem;
}

footer .col{
    text-align: center;
}

@media(max-width:800px){
    header .title h3{
        font-size: large !important;    
        text-align: end; 
    } 
    .title h3 a{
        font-weight: 600;
           
    }   
}@media(max-width:800px){
    footer{
        display: block;
    } 
}

ul.menu-toggle{
    position: fixed;
    background: #030303;
    top: 3.9rem;
    z-index: 5;
    width: 100%;
    left: -100%;
    transition: all 0.5s;
    height: 100vh;


}
ul.menu-toggle.show{    
    left: 0;
}

ul.menu-toggle li{
    width: 90%;    
    margin: auto;
    list-style: none;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    color: #aaa;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 0;
    font-weight: 600;
}


ul.menu-toggle li form input{
    background:  #030303;
    color: #aaa;
}

ul.menu-toggle li form button{
    color: #aaa;
    border: 1px solid #aaa;
    border-radius: 0.375rem;
}

@media(max-width:477px){
    ul.menu-toggle{        
        top: 4.5rem;
    } 
}
@media(max-width:312px){
    ul.menu-toggle{        
        top: 6rem;
    } 
}


@media (max-width: 450px){
    header .title h3 {
        font-size: small !important;        
    }
    .menu i{
        font-size: small !important; 
    }
    ul.menu-toggle.show {       
        padding: 0 1rem;
    }
    ul.menu-toggle li form button {       
        font-size: smaller;
    }
    ul.menu-toggle li form input {        
        font-size: smaller;
    }
    ul.menu-toggle li {       
        font-size: smaller;
    }
    .title_home h1, .title_home h1{        
        font-size: xx-large !important;
    }
    .title_home p, .title_home p{        
        font-size: small;
    }
    .players li{
        font-size: larger !important;
    }
    footer h6{
        font-size: small;
    }
}

@media (max-width: 360px){}
