.form_comparison{
    width: 90% !important;   
}

form .selects{
    display: flex;
}
form .selects select{
    background-color: #030303 !important;
    color: #aaa !important;
    border: 1px solid #aaa;
    padding: 1rem !important; 
    font-weight: 600;   
}
form .selects select option{
    padding: 1rem !important;
    font-weight: 600;   
}

.d-grid.gap-2{
    margin: .5rem 0;
}
.d-grid.gap-2 input{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    color: #aaa;
    background: #030303 !important;
    transition: all 0.09s;
    font-weight: 600;   
}
.d-grid.gap-2 input:hover{
    background: #151515 !important;
}

@media(max-width:800px){
    form .selects{
        display: block;
    }
}


div.main_title{
    width: 95%;
    margin:auto;
    padding:5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;        
}
.main_title h1{
    font-weight: 600;          
         
}


.data{
    display: flex;    
    justify-content: space-between;
    padding: 0 0 5rem  ;
}
.stats__ div{
    padding: 0 1rem ;
    width: 100%;
}
.stats__ span{    
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid #aaa;    
}
.stats__ span h2,
.stats__ span h5{
    line-height: 2 !important;
    margin: 26.56px 0 !important;
    font-size: revert;
}

.stats__ .involvement span{
    justify-content: end;
}

@media(max-width:1000px){
    .data{
        display: block;
    }
}

@media(max-width:800px){    
    .main_title{
        display:block !important;
        text-align:end !important;
        padding:3rem 0 !important;
    }
    .main_title h1{
        font-size: 2rem !important;
        padding: 0 .5rem 2rem !important;
    }
}



.stats_1, .stats_2{    
    width: 100%;
    justify-content: space-around;
    margin: 5rem 0;
}





.section__competitions{
    color:white ; text-align: center; margin: 5rem 0;
}
.section__competitions h2{
    margin: 2rem 0;
}
.stats{
    display: inline-flex; background: #151515;
}
.player__,.player__2{
    font-size: large;
}
.boxes{
    display: flex;
    font-size: xx-large;
}
.player__name h4{
    color: rgba(168, 19, 62) !important;
}

.player2__name h4{
    color: rgb(255, 217, 78) !important;
}


.player__data span{
    padding: 0.5rem 1rem; background: rgba(168, 19, 62); margin: 0 1px; 
}
.player2__data span{
    padding: 0.5rem 1rem; background: rgba(237, 187, 0); margin: 0 1px; 
}

.boxes span h3{
    font-size: xx-large; color: white !important;
}

@media(max-width:900px){
    .boxes{        
        font-size: large;
    }  
    .player_comparison{
        width: 100%;
    }  
}

@media(max-width:600px){
    .player_comparison{
        width: 100%;
    }
    .stats {
        display: inline-block;        
    }
    .boxes{        
        font-size: smaller;
    }   
    .player__, .player__2 {
        font-size: smaller;
    } 
}



