.result{
    display: none;
}

main{
    position: relative;   
    overflow: hidden;  
    display: flex;       
} 
main::after{
    background: linear-gradient(0deg,#040406 5%,#040406d1 30%,transparent 90%);    
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    content: "";
} 
.player-img{
    width: 50%;
    overflow: hidden;
}
.player1{    
    height: 100vh;    
    transform: scale(1.2);
}
.player2{    
    height: 100vh;    
    transform: scale(1.2);
}




.general-stats{
    height: 100vh;
    display: table;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}
.general-stats .stats-table{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.stats-table ul{
    width: 90%;
    margin: auto;
    text-align: center;
    list-style: none;   
}
.stats-table ul li{
    text-transform: uppercase;
    color: #c7c7c7;
    font-family: "NeueMontreal-Light";
    background: #040406d1;         
    background: #04040682;  
    display: flex;
    justify-content: space-evenly;
    padding: 2vw 0;
    margin: 0.1rem 0;
}

.stats-table ul li.table-title h1{            
    letter-spacing: 2px;
    font-size: 1.5vw;    
}



.stats-table ul li .row:nth-child(2) h1{
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}

.stats-table ul li .row h1.greatest{
    color: darkred;
}

.stats-table ul li .row h1{    
    font-size: 1.8vw;
    display: flex;
    letter-spacing: 2px;
    align-items: center;
}
    


@media(max-width:1200px){
    .stats-table ul {
        width: 70%;
    }
}

@media(max-width:1000px){
    .stats-table ul li .row:nth-child(2) {
        font-size: 1vw;
    }
}

@media(max-width:800px){
    .stats-table ul {
        width: 80%;
    }
    .stats-table ul li.table-title {               
        font-size: 1vw;
    }
}

@media(max-width:600px){  
    .stats-table ul {
        width: 90%;
    }          
    .stats-table ul li .row:nth-child(2) {
        font-size: 1.5vw;
    } 
    .stats-table ul li.table-title {               
        font-size: 1.2vw;
    }           
}

@media(max-width:500px){ 
    .stats-table ul li.table-title {               
        font-size: 1.5vw;
    }           
}

@media(max-width:400px){  
    .stats-table ul li.table-title {               
        font-size: 2vw;
    }
    .stats-table ul li .row:nth-child(2) {
        font-size: 2vw;
    }
}



/**** COMPARASION ****/


.stats_byseasons{
    margin: 10rem auto;
    width: 90%;    
}

.byseason_title h1{
    width: 100%;
    color: #c7c7c7;
    /* padding: 0 0 1rem;
    border-bottom: .5px solid #aaa; */
    text-transform: uppercase; 
    font-family: "NeueMontreal-Light";   
    font-size: 1.1vw;
    letter-spacing: 2px;
    text-align: end;
    margin: 0 0 5rem;
}

.chart-goals,
.chart-assists{
    padding: 0 0 20rem;
}


/* stats by competitions */


.stats-compet {
    width: 90%;
    margin: auto;
    margin-top: 10rem;
}

.table-players {
    display: flex;
    justify-content: end;
    padding: 0 0 2vw;
}

.table-players h1{
    width: 24%;
    font-size: 1vw;
    text-align: center;
    text-transform: uppercase; 
    font-family: "NeueMontreal-Light";   
    color: #c7c7c7;
}

ul.title-table {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: end;
}

ul.title-table  .li {
    text-transform: uppercase;
    color: #c7c7c7;
    font-family: "NeueMontreal-Light";
    font-size: 1vw;
    width: 8%;
    text-align: center;
}



.res-table ul.performace{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: end;
    position: relative;
    border-bottom: 1px solid;    
}

.res-table ul.performace li{
    text-transform: uppercase;
    color: #c7c7c7;
    font-family: "NeueMontreal-Light";    
    width: 8%;
    text-align: center;
    padding: 2vw 0;
}


.res-table ul.performace li.red{
    color: darkred;
    font-weight: 900;
}


.player1-table{
    padding: 0 0 0 2vw ;
} 

.performace h1{    
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.2vw;
    color: #c7c7c7;
    font-family: "NeueMontreal-Light";    
    font-weight: 100;
    padding: 2vw 0 ;   
}

@media(max-width:1400px){
    .table-players h1 {
        width: 30%;
    }
    ul.title-table .li{
        font-size: 1.1vw;
        width: 10%;
    } 
    .res-table ul.performace li{
        width: 10%;
    } 
}

@media(max-width:1400px){
    .performace h1 {             
        font-size: 1.5vw;
    }
}