{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- {% block title %}Football Player Charts{% endblock %} -->

<link rel="stylesheet" href="{% static 'css/home.css' %}">

<style>
    .main-img {
        background: url(/static/FootballPlayersStats2.jpg); 
        background-size: cover;
        background-position: center;
        height: 100vh;
        animation: main-img 40s alternate linear infinite;
        position: absolute;
        top: 0;
        width: 100%;  
        visibility: hidden;     
}
</style>

<main>
    <div class="main-img"></div>
    <div class="main-text">
        <span>
            <h1>Football Player Charts</h1>
        </span>            
    </div>
</main>

<section class="home-data">
    <div class="home-title">
        <div>
            <h1>Football Player Charts</h1> <h6>(beta)</h6>
        </div>            
        <div>
            <p>
                Football Player Charts is a football statistics website where you will find information, 
                statistics, and charts that show how influenced a player in each team he played.
            </p>
        </div>
    </div>
    <div class="home-players">
        <div class="homeplayers-title">
            <p>players</p>
            <a href="{% url 'players' %}">View more</a>
        </div>
        <div class="players-table"> 

            <div class="col">  
                {% for player in players %}{% if forloop.counter|divisibleby:3 %}
                <div class="row"><a href="{% url 'get_stats' player.name %}">{{player}}</a></div>            
            </div>
            <div class="col">
                {% else %}            
                <div class="row"><a href="{% url 'get_stats' player.name %}">{{player}}</a></div>
                {% endif %}
                {% endfor %}
            </div>                    
            
        </div>
    </div>
    <div class="how-works">
        <span>
            <h1>what is Football Player Charts?</h1>
            <p>
                Football Player Charts is an API where you can see how much a player influences his team 
                (the percentage of the goals scored, his favorite victims, his performance by competition, 
                and his percentage of goals and assists per game). You can also compare their stats to each other.
            </p>
        </span>            
    </div>
    <div class="data-collect">
        <span>
            <h1>How the data is collected?</h1>
            <p>The data is collected and it's updated through a web scraping on transfermarkt.com.</p>
        </span>            
    </div>
</section>

<script>
    // ONLOAD //

    var header   = document.querySelector("header");
    var mainImg  = document.querySelector("main .main-img");
    var homedata = document.querySelector("section.home-data");
    var footer   = document.querySelector("footer");
    window.onload = ()=>{
        setTimeout(()=>{
            header.style.visibility   = "visible";
            mainImg.style.visibility  = "visible";
            homedata.style.display    = "block";
            footer.style.display      = "table";
        },1000)
    }
</script>
{% endblock %}


