{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block title %}Football Player Charts | Player Comparison {% endblock %}
<link rel="stylesheet" href="{% static 'css/player_comparison.css' %}">
<link rel="stylesheet" href="{% static 'css/loader.css' %}">  

<section class="form_comparison" style='padding: 20rem 0;'>
    <form method="POST">
        {% csrf_token %}
        <div class="selects">
            <select class="form-select form-select-lg mb-3" name="first_player"> 
                {% if first_player %}
                    <option value="{{first_player.name}}"selected>{{first_player.name}}</option>
                {% endif %}    
                {% for player in players %}                   
                    <option value="{{player.name}}">{{player.name}}</option>    
                {% endfor %}
            </select>
            <select class="form-select form-select-lg mb-3" name="second_player"> 
                {% if second_player %}
                    <option value="{{second_player.name}}"selected>{{second_player.name}}</option>
                {% endif %}      
                {% for player in players %}   
                    <option value="{{player.name}}">{{player.name}}</option>    
                {% endfor %}
            </select>
        </div> 
        <div class="d-grid gap-2">
            <input class="form-control" type="submit" value="Compare">  
        </div> 
    </form>
</section>

{% if first_player and second_player %}
<style>
    .form_comparison{
        display: none;
    }
</style>
<script>
    window.onload = function(event){
        get_players(first_player='{{first_player.name}}',second_player='{{second_player.name}}');
    }
</script>
<div class="page_loader">
    <div class="lds-roller"><div></div><div></div><div></div><div></div></div>    
</div>

<section id="stats_1" class="stats__">
    <div class="main_title"></div>
    <div class="data">
        <div class="general"></div>  
        <div class="involvement"> </div> 
    </div>     
</section> 

<section id="stats_2" class="stats__">
    <div class="main_title"></div>
    <div class="data">
        <div class="general"></div>  
        <div class="involvement"> </div>  
    </div>    
</section> 

<section class="player_comparison">    
    <div class="goals_involvements">
        <canvas id="involvements_chart" height="600"></canvas>
    </div>   
    <div class="goals_by_age">
        <canvas id="by_age" height="600"></canvas>
    </div>
    <div class="competitions"></div> 
</section>
{% endif %}

<script src="{% static 'js/player_comparison.js' %}"></script>

{% endblock %}