{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block title %}Football Player Charts | {{player.name}}{% endblock %}
<style>
    main{      
        background: url({{player.picture.url}});
        background-position: 0% 9%;
        background-size: cover;
    }
</style>
<link rel="stylesheet" href="{% static 'css/stats.css' %}">
<link rel="stylesheet" href="{% static 'css/loader.css' %}">        
        <main>     
            <div class="player_name">                
                <h1>{{player.name}}</h1>
            </div>                      
        </main> 
        <div class="page_loader">
            <div class="lds-roller"><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="charts_stats">
            <div class="main_title">
                <h1 style="font-size: 6rem;">STATS</h1>
                <select class="filters" onchange="get_path( '{{path}}' )">
                    <option value="total" selected>Total</option>
                    {% for t in teams %}
                    <option value="{{t}}" >{{t}}</option>                
                    {% endfor %}
                </select>
            </div>

            <section id="stats">
                <div class="general"></div>  
                <div class="involvement"> </div>  
            </section> 

            <section class="section_gls_as_season">
                <div class="pie_chart">
                    <canvas id="gls_as_season" height="600"> </canvas>
                </div> 
            </section> 

            <section class="section_involvements">    
                <div class="involvements_chart">
                    <canvas id="involvements" height="600"> </canvas>
                </div> 
            </section>

            
            <section class="section_rate_goals">
                <p>TEAM'S GOALS SCORED</p>
                <div class="rate_date">
                    <div class="ratio_goals_stats"></div>  
                    <div class="goals_charts">
                        <canvas id="rate_goals" height="600"></canvas>                    
                    </div>
                </div>                
            </section>

            
            
            <section>    
                <div class="performance_table">  
                    
                    <h3 style="text-transform:uppercase; padding:5rem 0">Performance by Competition</h3>                        
                       
                    <div class="competitions"></div>            
                </div> 
            </section>
                    
        </div>
    
        <script src="{% static 'js/stats.js' %}"></script>
        <script>
            window.onload = function(event){
                get_path('{{path}}');
            }
        </script>

{% endblock %}