{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>    
    main{
        background: url({{player.picture.url}});
        background-position: 0% 9%;
        background-size: cover;
        }
    .player_name{
        height: 720px;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
    .player_name h1{
        text-transform: uppercase;
        font-size: 8rem; 
        font-weight: 900;
        color: transparent;
        -webkit-text-stroke: 0.1vw white;
    }
    div.main_title{
        width: 95%;
        margin:auto;
        padding:5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;        
    }
    .main_title h1{
        font-weight: 600;          
             
    }
    .rate_date{        
        justify-content: space-between;
        align-items: end;
        display: flex;
       
    }
    .goals_charts{
        width: 100%;
    }
    .ratio_goals_stats{
        padding: 0 1rem;
        width: 100%;
    }
    .ratio_goals_stats span h2{
        border-bottom: 1px solid #aaa;
        line-height: 2 !important;        
        font-size: revert;
        margin: 26.56px 0 !important;
    
    }
    select.filters{        
        font-size: x-large;    
        color: #aaa;
        background: #030303;        
        padding: 1rem;        
        }
    tr th{
        padding: 0.5rem !important;
        color: #aaa;
        font-size:small;
    }   
    @media(max-width:800px){
        main{
            background-position-x: 40%;
        }
        .main_title{
            display:block !important;
            text-align:end !important;
            padding:3rem 0 !important;
        }
        .main_title h1{
            font-size: 2rem !important;
            padding: 0 .5rem 2rem !important;
        }
        select.filters{
            padding:.5rem;
        } 
        .rate_date{
            display: block;
        }        
        .goals_charts{
            width: 90%;
            margin: auto;
            padding: 5rem 0 0;
        }
        canvas{
            height: 100vh !important;
        } 
        
    }    
</style>
<link rel="stylesheet" href="{% static 'css/loader.css' %}">        
        <main>     
            <div class="player_name">                
                <h1>{{player.name}}</h1>
            </div>                      
        </main> 
        <div class="page_loader">
            <div class="lds-roller"><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="charts_stats">
            <div class="main_title">
                <h1 style="font-size: 6rem;">STATS</h1>
                <select class="filters" onchange="get_path( '{{path}}' )">
                    <option value="total" selected>Total</option>
                    {% for t in teams %}
                    <option value="{{t}}" >{{t}}</option>                
                    {% endfor %}
                </select>
            </div>

            <section id="stats">
                <div class="general"></div>  
                <div class="involvement"> </div>  
            </section> 

            <section class="section_gls_as_season">
                <div class="pie_chart">
                    <canvas id="gls_as_season" height="600"> </canvas>
                </div> 
            </section> 

            <section class="section_involvements">    
                <div class="involvements_chart">
                    <canvas id="involvements" height="600"> </canvas>
                </div> 
            </section>

            
            <section class="section_rate_goals">
                <p>TEAM'S GOALS SCORED</p>
                <div class="rate_date">
                    <div class="ratio_goals_stats"></div>  
                    <div class="goals_charts">
                        <canvas id="rate_goals" height="600"></canvas>                    
                    </div>
                </div>                
            </section>

            <section class="section_victims">
                <div>
                    <canvas id="victims" height="600"></canvas>
                </div>
            </section>   
            
            <section>    
                <div class="performance_table">  
                    <table class="table">
                        <h3 style="text-transform:uppercase; padding:5rem 0">Performance by Competition</h3>
                        <thead>
                            <tr>
                            <th scope="col">Competition</th>
                            <th scope="col">PJ</th>
                            <th scope="col">GLS.</th>
                            <th scope="col">ASS.</th>
                            <th scope="col">G&A %</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                        </tbody>
                    </table>              
                </div> 
            </section>
                    
        </div>
    
        <script src="{% static 'js/stats.js' %}"></script>
        <script>
            window.onload = function(event){
                get_path('{{path}}');
            }
        </script>

{% endblock %}